{{property-autosuggest modelMeta=modelMeta value=queryFilter.property}}

{{#if suggestedOperators.length}}
    {{#unless isRelation}}
        <div class="form-group">
            {{#ek-selectize value=queryFilter.operator}}
                {{#each suggestedOperators as |op|}}
                    <option value="{{op.id}}"> {{op.label}} </option>
                {{/each}}
            {{/ek-selectize}}
        </div>
    {{/unless}}
{{/if}}


{{#if queryFilter.operator}}
    <div class="form-group">
        {{#if isBoolean}}

            {{#x-select value=queryFilter.value classNameBindings=":form-control"}}
                {{#each suggestedBooleans as |bool|}}
                    {{#x-option value=bool.id}} {{bool.label}} {{/x-option}}
                {{/each}}
            {{/x-select}}

        {{else if isText}}
            {{input classNameBindings=":form-control" value=queryFilter.value}}
        {{else if isNumber}}
            {{input type="number" classNameBindings=":form-control" value=queryFilter.value}}
        {{else if isDate}}
            {{input type="date" classNameBindings=":form-control" value=queryFilter.value}}
        {{else if isDateTime}}
            {{input type="datetime-local" classNameBindings=":form-control" value=queryFilter.value}}
        {{else if isRelation}}
            {{ek-selectize
                content=suggestedRelations
                value=queryFilter.value
                onSearch="relationSearchFilter"
                optionValuePath="content.id"
                optionLabelPath="content.label"
                loading=isRelationSuggestionsLoading}}
        {{/if}}
    </div>
{{/if}}