{{property-autosuggest modelMeta=modelMeta value=queryFilter.property}}

{{#if suggestedOperators.length}}
    {{#unless isRelation}}
        <div class="form-group">

            {{#x-select
                value=queryFilter.operator
                classNameBindings=":form-control"}}
                    {{#each suggestedOperators as |op|}}
                        {{#x-option value=op.id}} {{op.label}} {{/x-option}}
                    {{/each}}
            {{/x-select}}

        </div>
    {{/unless}}
{{/if}}


{{#if queryFilter.operator}}
    <div class="form-group" style="min-width: 192px">
        {{#if isBoolean}}

            {{#x-select value=queryFilter.value classNameBindings=":form-control"}}
                {{#each suggestedBooleans as |bool|}}
                    {{#x-option value=bool.id}} {{bool.label}} {{/x-option}}
                {{/each}}
            {{/x-select}}

        {{else if isText}}
            {{input classNameBindings=":form-control" value=queryFilter.value}}
        {{else if isNumber}}
            {{input type="number" classNameBindings=":form-control" value=queryFilter.value}}
        {{else if isDate}}
            {{input type="date" classNameBindings=":form-control" value=queryFilter.value}}
        {{else if isDateTime}}
            {{input type="datetime-local" classNameBindings=":form-control" value=queryFilter.value}}
        {{else if isRelation}}
            {{select-2
                classNameBindings=":form-control"
                url=relationSuggestUrl
                content=relationDefaultValue
                dataFn=relationSelect2QueryParametersFn
                processResultsFn=relationSelect2ProcessResultsFn
                optionValuePath="content.id"
                optionLabelPath="content.label"
                value=queryFilter.value}}
        {{/if}}
    </div>
{{/if}}